<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title></title>
</head>

<body>
    <div class="container">
        <h1 class="text-center mt-3 mb-3 fs-4  ">
            <%= title %>
        </h1>

        <% if(action=='add' ) { %>

            <div class="card col-6 mx-auto">
                <div class="card-header">Sample Form</div>
                <div class="card-body " style="background-color:darkgrey">
                    <form method="POST" action="/sample-data/add">
                        <div class="row justify-content-center">
                            <div class="col-md-6">

                                <div class="mb-3">
                                    <label>Location</label>
                                    <input type="text" name="location" id="location" class="form-control" />
                                </div>
                            </div>
                            <!-- <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Last Name</label>
                                    <input type="text" name="last_name" id="last_name" class="form-control" />
                                </div>
                            </div> -->
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Capacity</label>
                                    <input type="number" name="capacity" id="capacity" class="form-control" />
                                </div>
                            </div>
                            <!-- <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Gender</label>
                                    <select name="gender" class="form-control">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                            </div> -->
                        </div>
                        <div class="my-3 ms-5 row-cols-5 text-start ">
                            <input type="submit" name="submit_button" class="btn btn-primary" value="Add" />
                        </div>
                    </form>
                </div>
            </div>

            <% } else if(action=='edit' ) { %>
                <div class="card col-6 mx-auto">
                    <div class="card-header">Sample Form</div>
                    <div class="card-body" style="background-color:darkgrey;">
                        <form method="POST" action="/sample-data/edit/<%= sampleData.id %>">
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label>Location</label>
                                        <input type="text" name="location" id="location" class="form-control"
                                            value="<%= sampleData.location %>" />
                                    </div>
                                </div>
                                <!-- <div class="col-md-6">
                                    <div class="mb-3">
                                        <label>Last Name</label>
                                        <input type="text" name="last_name" id="last_name" class="form-control" value="<%= sampleData.last_name %>" />
                                    </div>
                                </div> -->
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label>Capacity</label>
                                        <input type="number" name="capacity" id="capacity" class="form-control"
                                            value="<%= sampleData.capacity %>" />
                                    </div>
                                </div>
                                <!-- <div class="col-md-6">
                                    <div class="mb-3">
                                        <label>Gender</label>
                                        <select name="gender" id="gender" class="form-control">
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                </div> -->
                            </div>
                            <div class="mb-3 ms-5 row-cols-5 text-start">
                                <input type="submit" name="submit_button" class="btn btn-primary" value="Edit" />
                            </div>
                        </form>

                    </div>
                </div>

                <% } else { %>

                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">Sample Data</div>
                                <div class="col">
                                    <a href="/admin/sample-data/add" class="btn btn-success btn-sm float-end">Add</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>#Sl NO</th>
                                        <th>Location</th>
                                        <th>Capacity</th>
                                        <!-- <th>Gender</th> -->
                                        <th>Action</th>
                                    </tr>
                                    <% if(sampleData.length> 0)
                                        {
                                            var i=0;
                                        sampleData.forEach(function(data){
                                            i++;
                                        %>
                                        <tr>
                                            <td>
                                                <%= i %>
                                            </td>
                                            <td>
                                                <%= data.location %>
                                            </td>
                                            <td>
                                                <%= data.capacity %>
                                            </td>

                                            <td>
                                                <a href="/admin/sample-data/edit/<%= data.id %>"
                                                    class="btn btn-primary btn-sm">Edit</a>
                                                    <a href="/admin/sample-data/delete/<%= data.id %>" class="btn btn-danger btn-sm">Delete</a>

                                            </td>
                                        </tr>
                                        <% }); } else { %>
                                            <tr>
                                                <td colspan="5">No Data Found</td>
                                            </tr>
                                            <% } %>
                                </table>
                            </div>
                        </div>
                    </div>

                    <% } %>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>